{% extends "base.html" %}

{% block title %}
    Editing account
{% endblock %}

<!--добавили в форму enctype="multipart/form-data", чтобы с ее помощью-->
<!--можно было загружать файлы. Мы используем одну HTML-форму для отправки-->
<!--обеих Django-форм: и user_form, и profile_form.-->

{% block content %}
    <h1>Edit your account</h1>
    <p>You can edit your account using the following form:</p>
    <form action="." method="post" enctype="multipart/form-data">
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Save changes"></p>
    </form>
{% endblock %}